.container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: max-content;
    width: max-content;
    margin-top: 9%;
}
.person,.address,.profession{
    background-color: cadetblue;
}
.buttonContainer{
    display: flex;
    justify-content: space-between;
}
mat-checkbox{
    margin:0 0.5rem;
}